.projects {
  height: 300vh;
  position: relative;
}

.pList {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  width: max-content;
}

.pItem {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: rgba(0, 0, 0, 0.7);
}

.pImg {
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #28439b;
}

.pImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pText {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: white;
}

.pText h1 {
  font-size: 32px;
}

.pText button {
  background-color: #7091e6;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.pProgress {
  position: fixed;
  width: 80px;
  height: 80px;
  left: 10px;
  bottom: 80%;
}
